<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <EnvironmentVariables>
      <EnlistmentRoot>##ENLISTMENT_ROOT##</EnlistmentRoot>
      <Output_Path>##OUTPUT_PATH##</Output_Path>
    </EnvironmentVariables>
  </RunConfiguration>
  <MSTestV2> 
    <!-- Default Test Timeout in milliseconds -->
    <TestTimeout>600000</TestTimeout>   
  </MSTestV2> 
</RunSettings>