CREATE PROCEDURE [sp_hk]
WITH NATIVE_COMPILATION, SCHEMABINDING, EXECUTE AS OWNER
AS
BEGIN ATOMIC
WITH (TRANSACTION ISOLATION LEVEL = READ COMMITTED, LANGUAGE = N'us_english', DATEFIRST = 1, DATEFORMAT = 'mdy')
    SELECT 1;
END;


GO
CREATE PROCEDURE [sp_hk]
WITH NATIVE_COMPILATION, SCHEMABINDING, EXECUTE AS OWNER
AS
BEGIN ATOMIC
WITH (DELAYED_DURABILITY = ON, TRANSACTION ISOLATION LEVEL = READ UNCOMMITTED, LANGUAGE = N'us_english', DATEFIRST = 1, DATEFORMAT = 'mdy')
    SELECT 1;
END;


GO
CREATE PROCEDURE [sp_hk]
WITH NATIVE_COMPILATION, SCHEMABINDING, EXECUTE AS OWNER
AS
BEGIN ATOMIC
WITH (TRANSACTION ISOLATION LEVEL = REPEATABLE READ, DELAYED_DURABILITY = OFF, LANGUAGE = N'us_english', DATEFIRST = 1, DATEFORMAT = 'mdy')
    SELECT 1;
END;


GO
CREATE PROCEDURE [sp_hk]
WITH NATIVE_COMPILATION, SCHEMABINDING, EXECUTE AS OWNER
AS
BEGIN ATOMIC
WITH (TRANSACTION ISOLATION LEVEL = SERIALIZABLE, LANGUAGE = N'us_english', DATEFIRST = 1, DATEFORMAT = 'mdy')
    SELECT 1;
END;


GO
CREATE PROCEDURE [sp_hk]
WITH NATIVE_COMPILATION, SCHEMABINDING, EXECUTE AS OWNER
AS
BEGIN ATOMIC
WITH (TRANSACTION ISOLATION LEVEL = SNAPSHOT, LANGUAGE = N'us_english', DATEFIRST = 1, DATEFORMAT = 'mdy', DELAYED_DURABILITY = ON)
    SELECT 1;
END;


GO
SET TRANSACTION ISOLATION LEVEL READ COMMITTED;

SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

SET TRANSACTION ISOLATION LEVEL REPEATABLE READ;

SET TRANSACTION ISOLATION LEVEL SERIALIZABLE;

SET TRANSACTION ISOLATION LEVEL SNAPSHOT;