name: pr-validation

on:
  pull_request

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-dotnet@v2
      with:
        global-json-file: global.json
    - name: Install dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build dirs.proj
  test: 
    runs-on: windows-latest
    needs: build
    steps:
      - uses: actions/checkout@v2
      - name: Disable strong name validation
        shell: pwsh
        run: |
          .\disableStrongName.ps1

      - name: Run tests
        run: dotnet test

  test-linux: #runs only P0 tests on linux
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v2
      - name: Run tests
        run: dotnet test --filter Priority=0